.idea/
.ibm-project
.DS_Store
credentials.txt
*.coverprofile
node_modules/
.project
*.env
*.log

# ignore vendor/
vendor/

# ignore detect secrets files
.pre-commit-config.yaml
.secrets.baseline
.openapi-generator-ignore
.openapi-generator/

# VSCode config
.vscode/
